.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8rem 2rem;
    display: inline-block;
    transition: all 0.3s ease-in;
    border-radius: 200px;
    position: relative;
  }

  &--animated {
    animation-name: moveInBottom;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(0px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-gray;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 200px;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all 0.2s ease;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.25);
      transform: translateY(-5px);
    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
      transform: translateY(0px);
    }
  }
}
