.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8rem 2rem;
    display: inline-block;
    transition: all 0.3s ease-in;
    border-radius: 200px;
    position: relative;
  }

  &--animated {
    animation-name: moveInBottom;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(0px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-gray;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 200px;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
