.composition {
  position: relative;
  &__photo {
    width: 55%;
    position: absolute;
    transition: all 0.2s ease-in;
    outline-offset: 2rem;

    &:hover {
      z-index: 10;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
    }

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
