.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    font-family: inherit;
    color: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s ease-in;
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 5px solid $color-primary;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: '';
      display: inline-block;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
      background: $color-primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}
