@import '../abstracts/variables';

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 60px;

  &--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    opacity: 0;
    animation-name: moveInLeft;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    opacity: 0;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
